<div th:fragment="body-left" class="content-left"
	style="background-color: #BDBFC1;">
	<table>
		<tr>
			<td class="padding-20"><i class="fas fa-user-tie icon-20"></i></td>
			<td>Admin</td>
		</tr>
		<tr>
			<td class="padding-20"><i class="fas fa-school icon-20"></i></td>
			<td>Quản Lý Điểm</td>
		</tr>
		<tr>
			<td class="padding-20"><i class="fas fa-user-graduate icon-20"></i></td>
			<td>Sinh Viên</td>
		</tr>
		<tr>
			<td class="padding-20"><i class="fas fa-user-graduate icon-20"></i></td>
			<td>Giảng Viên</td>
		</tr>
		<tr>
			<td class="padding-20"><i class="fas fa-solid fa-book icon-20"></i></td>
			<td>Môn Học</td>
		</tr>
		<tr>
			<td class="padding-20"><i class="fas fa-user-graduate icon-20"></i></td>
			<td>Lớp</td>
		</tr>
	</table>
</div>